<div ng-controller="ApiController">
<h1> Welcome! Lets play some bingo</h1>
<div class="playerInformation">
    <div>Username: {{gameApi.username}}</div>
    <div>Balance:{{gameApi.balance | currency}}</div>
</div>
    <div>
        <h2> Rules of the game</h2>
        <p>Once you click on the "start new game" button, you will be taken to the next available game of bingo.
            While you are waiting for the game to start, you can purchase bingo tickets.
            The more tickets you purchase, the better the chances of winning.</p>
        <ul>
            <li> Once the game has begun, numbers will be shown on screen, if these numbers match the numbers on your ticket, you are one step closer to winning.</li>
            <li>Match 5 numbers on an individual line on the bingo ticket to win the line prize</li>
            <li>Match all of the numbers on the ticket before anyone else and you will win the house prize</li>
        </ul>
    </div>
<div>
    <input type="button" value="Start new game" ng-click="gameApi.getNextGame()">
</div>
<input type="button" value="Log Out" ng-click="gameApi.logOut()">
<br>
</div>


<div ng-controller="BingoTicket">
    <input type="button" value="Buy ticket" ng-click="ticketCreation.sortTicket()">
</div>
<a ui-sref="home" href="#">Home</a>
